<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Dey terk yer jerbs</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="style.css" type="text/css"> -->

</head>


<body>
  <h1>Jobs:</h1>
  <% jobs.forEach((everyJob) => {%>


 <h3> <%= everyJob.created_at %> </h3>
   <p><%= everyJob.title %>
      <%= everyJob.location %>
      <%= everyJob.type %>
      <%= everyJob.company %>
      <%= everyJob.company_url %>
      <%= everyJob.url %>


      <!-- Edit Button
      <div class="form-group">
        <label class="col-md-4 control-label" form="edit"></label>
        <div class="col-md-4">
          <button id="edit" name="edit" class="btn btn-success"> <a href="/todos/:id/edit">Edit Task</a></br></br></button>
        </div>
      </div> -->

    </p>
    <%})%>


</body>

</html>
